<% if defined? comment %>
<% author = User.get(comment.author).name %>
<div class="panel panel-default comment-panel">
  <div class="panel-body comment-panel-body">
    <div class="form-group" style="margin-bottom: 0;">
      <div class="col-md-12" style="padding: 0px;">
        <h6 style="margin: 1px 2px;"><%=author%> commented at <%=comment.time.strftime("%H:%M on %d %B %Y")%></textarea>
      </div>
      <div class="col-md-12" style="padding: 0;">
        <div class="col-md-11" style="padding: 2px;">
          <% comment_text = comment.text.gsub(/(@([\d]{1,2}:)?([0-5])?[\d]:[0-5][\d])/, '<a href="#" class="time-link">\1</a>') %>
          <div class="form-control comment-textarea" style="cursor: default;" rows="1"><%=comment_text%></div>
        </div>
        <div class="col-md-1" style="padding: 2px;">
          <% if @user.has_permission? :moderate_comments %>
          <form method="post" action="/videos/<%=@video['id']%>/delete_comment">
            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
            <input type="hidden" name="comment_id" value="<%=comment.id%>">
          </form>
          <% end %>
        </div>
      </div>
      <% if defined? levels and levels > 1 %>
      <div class="col-md-12" style="padding: 0;">
        <div style="margin-left: 7%;">
          <% nested_comments = Comment.all(:video_id => @video["id"], :parent => comment.id) %>
          <% if nested_comments.size > 0 or @user.has_permission? :leave_comment %>
          <% if nested_comments.size > 0 %>
          <a href="#" onClick="return false;" class="nested-comments-link">hide</a>
          <div class="nested-comments">
          <% else %>
          <a href="#" onClick="return false;" class="nested-comments-link">show</a>
          <div class="nested-comments" style="display: none;">
          <% end %>
            <%=erb :comments, :locals => {:comments => nested_comments, :parent => comment, :levels => levels - 1} %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>