<div class="row">
  <div class="col-xs-6 col-md-6">
    <% if @previous_video %>
      <h5>
        <a href="/videos/<%=@previous_video["id"]%>">
          <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
          <%=@previous_video["title"]%>
        </a>
      </h5>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6" style="text-align: right;">
    <% if @next_video %>
      <h5>
        <a href="/videos/<%=@next_video["id"]%>">
          <%=@next_video["title"]%>
          <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
        </a>
      </h5>
    <% end %>
  </div>
</div>

<h1 data-flippd-phase="<%= @phase["title"].downcase.gsub(" ", "_") %>"><%= @video["title"] %></h1>
<p class="lead"><%= @video["description"] %></p>

<div id="video" class="embed-responsive embed-responsive-16by9">
  <div id="player"></div>
</div>

<% tags = Tag.all(:video_id => @video["id"]) %>
<div id="tags" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-12 col-md-12">
    <% tags.each do |tag| %>
    <form method="post" action="/videos/<%=@video['id']%>/delete_tag" style="display: inline;">
      <span class="label <%=if tag.modifiable then 'label-primary' else 'label-fixed' end%>"><%=tag.text%></span>
      <% if tag.modifiable and @user.has_permission? :delete_tag %>
      <button class="delete-tag-button" style="vertical-align: middle; margin-left: -3px;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
      <input type="hidden" name="tag_id" value="<%=tag.id%>">
      <% end %>
    </form>
    <% end %>
    <% if @user.has_permission? :add_tag %>
    <a href="#" class="add-tag-button" data-toggle="popover" data-container="#add-tag-popover" data-html="true" data-content="<form method='post' action='/videos/<%=@video['id']%>/add_tag' class='form-horizontal' role='form'><div class='form-group' style='margin-bottom: 0;'><div class='col-md-8' style='padding-right: 1px;'><input type='text' class='form-control' name='text'/></div><div class='col-md-4' style='padding-left: 1px;'><button type='submit' class='btn btn-default form-control'>Add</button></div></form>" onclick="return false"><span class="label label-success add-tag-label">Add a tag</span></a>
    <div id="add-tag-popover"></div>
    <% end %>
  </div>
</div>

<% comments = Comment.all(:video_id => @video["id"]) %>
<div id="comments" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-12 col-md-12">
    <% comments.each do |comment| %>
    <div class="panel panel-default comment-panel">
      <div class="panel-body comment-panel-body">
        <form method="post" action="/videos/<%=@video['id']%>/delete_comment" class="form-vertical">
          <div class="form-group" style="margin-bottom: 0;">
            <% if @user.has_permission? :moderate_comments %>
            <div class="col-md-11" style="padding: 2px;">
              <input type="text" class="form-control" value="<%=comment.text%>" readonly></input>
            </div>
            <div class="col-md-1" style="padding: 2px;">
              <button class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <input type="hidden" name="comment_id" value="<%=comment.id%>">
            </div>
            <% else %>
            <div class="col-md-12" style="padding: 2px;">
              <input type="text" class="form-control" style="cursor: default;" value="<%=comment.text%>" disabled></input>
            </div>
            <% end %>
          </div>
        </form>
      </div>
    </div>
    <% end %>
    <% if @user.has_permission? :leave_comment %>
    <div class="panel panel-default comment-panel">
      <div class="panel-body comment-panel-body">
        <form method="post" action="/videos/<%=@video['id']%>/add_comment" class="form-vertical">
          <div class="form-group" style="margin-bottom: 0;">
            <div class="col-md-11" style="padding: 1px;">
              <input type="text" class="form-control" name="text" placeholder="Add a comment"></input>
             </div>
            <div class="col-md-1" style="padding: 1px;">
              <button class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
             </div>
           </div>
        </form>
      </div>
    </div>
    <% end %>
  </div>
</div>

<% if @video["resources"] %>
<div id="resources" class="row" style="margin-top: 1.5em;">
  <div class="col-xs-6 col-md-6">
    <h4>Additional Material</h4>
    <ul class="list-unstyled" style="padding-left: 15px; font-size: 120%;">
    <% @video["resources"].each do |resource| %>
      <li style="padding: 3px 0">
        <span class="glyphicon glyphicon-<%=resource["icon"]%>" aria-hidden="true"></span>
        &nbsp; <a href="<%=resource["url"]%>"><%=resource["title"]%></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<% end %>

<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      videoId: '<%= @video["youtube"] %>'
    });
  }
  function stopVideo() {
    player.stopVideo();
  }
</script>
